header{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35% 5% 35%;
    transition: 1s;
}

h1{
    color: white
}

img{
    cursor: pointer;
}