main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.new-todo{
    width: 100%;
    
}
.new-todo > input{
    width: 100%;
    padding: 3%;
    border: none;
    font-size: 1.2em;
    border-radius: 3px;
}
.new-todo > input:focus{
    outline: none;
}

ul{
    list-style: none;
    font-size: 1.2em;
    width: 100%;
    margin-top: 10%;
    border: solid blue 1px;    
}

.options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid green 1px;    
    width: 100%;
    font-size: .9em;
}

.buttons{
    width: 25%;
    display: flex;
    justify-content: space-between;
}

button{
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
}

.active{
    color: hsl(220, 98%, 61%);
}

